    <div class="jumbotron text-center">
      <h1>SQLFinder</h1>
      <p>This portal provides a wide range of SQL knowledge base, can be personalised for better user experience.</p>
      <div>
        <p><a class="btn btn-primary" [routerLink]="['/register']">Register</a></p><p><a class="btn btn-primary" [routerLink]="['/login']">Login</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>SQL/Advance SQL</h2>
          <p>Start here to search for your SQL needs, seach using keywords, syntax, oracle functions etc. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>PL/SQL</h2>
          <p>Click here to start the hunt for Store Procedure, Loops, Cursors, Conditional Statement etc. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>DBA/Architecture</h2>
          <p>Access this link to looks for Grants, Flashbacks, Restore Points, Database Architecture.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
