    <div class="jumbotron text-center">
      <h1>Kaarvn</h1>
      <p>This portal provides an interactive platform to meet the service providers.</p>
      <div>
        <p><a class="btn btn-primary" [routerLink]="['/register']">Register</a></p><p><a class="btn btn-primary" [routerLink]="['/login']">Login</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Search</h2>
          <p>Start here to search for your service needs, seach using keywords, type of services etc. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Providers</h2>
          <p>Click here to see the top Service Providers.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Seekers</h2>
          <p>Access this link to looks for Service Seekers.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
